.content {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrowBack {
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    transition: transform 0.2s ease; 
}

.arrowBack:hover {
    transform: scale(1.2); 
    color: black;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}



.titleGenerator {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.quizzContainerBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formRandom {
  display: grid;
  gap: 20px;
  align-items:start;
  justify-items: center;
  gap: 20px;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.spaceFilters{
display: flex;
gap: 20px;
}

.formGroup{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items:center;
  justify-content: center;
  
  
}

.formRandom label {
  text-align: center;
  font-weight: bold;
}

.formRandom select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formRandom input{
  padding: none;
  width: 50px;
}

.formRandom button {

  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonResumee {
  grid-column: span 3;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.formRandom button:hover {
  background-color: darkgreen;
}

.error {
  grid-column: span 3;
  color: red;
  text-align: center;
  font-size: 0.9rem;
}

.buttonIA {
  padding: 10px 25px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.buttonIA:hover {
  background-color: darkgreen;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.modalLabels{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.modalContent input {
  width: 70px;
  margin-left: 10px;
}

.modalContent button {
  margin: 5px;
  margin-bottom: 10px;
}

.scrollTopics{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px; 
  overflow-y: auto;  
}

.selectedTopics{
  padding: 10px;
  list-style: none;

}

.selectedTopic{
  margin: 10px;
}

.colorButt{
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.colorButt:hover{
background-color: darkgreen;

}

.colorButtDel{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.colorButtDel:hover{
background-color: darkred;

}