/*SECCIO PREGUNTES*/

.questionsContainer {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .addQuestionButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; /* Espai entre les preguntes i el botó */
  }
  
  .addQuestionButton {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: green;
    border: 0;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 1rem;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .addQuestionButton:hover {
    background-color: white;
    color: black;
  }
  
  .questionsList {
    width: 100%;
    max-width: 900px; /* Amplada màxima per a les preguntes */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .questionCard {
    width: 100%;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .questionDetails p {
    margin: 5px 0;
  }
  
  .actionButtonsContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }
  
  .acceptButton, .deleteButton {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .acceptButton {
    background-color: green;
    color: white;
    border: none;
  }
  
  .deleteButton {
    background-color: red;
    color: white;
    border: none;
  }
  
  .acceptButton:hover {
    background-color: darkgreen;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }

  /*FI SECCIO PREGUNTES*/



  /*SECCIO PARTICIPANTS*/



.participantContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.participantCard {
  width: 50%;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.participantDetails p {
  margin: 5px 0;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: bold;
  cursor: pointer;
}


.addParticipantButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.addParticipantButton:hover {
  background-color: #45a049;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.modalContent h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modalActions button {
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalActions button:first-child {
  background-color: #4caf50;
  color: white;
}

.modalActions button:first-child:hover {
  background-color: #45a049;
}

.modalActions button:last-child {
  background-color: #ff4d4f;
  color: white;
}

.modalActions button:last-child:hover {
  background-color: #e04343;
}

/*FI SECCIO PARTICIPANT*/



/*SECCIO QUIZZ*/

.quizzContainerTitle{
 
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 180px; 
  display: flex;
  flex-direction: column;
  align-items: center;


  .titleGenerator{

    margin-bottom: 50px;
  }
 
}




.quizzContainerBody{

  display: grid;

}
/*FI SECCIO QUIZZ*/


/*SECCIÓ CURS*/

.elementsCursContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-top: 130px;
  box-sizing: border-box;
}

.elementsCursHeader {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.temesLista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.temaItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
}

.temaTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.temaContent {
  display: flex;
  justify-content: space-between;
}

.contingut,
.tests {
  width: 48%;
}

.temaSubtitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.temaDescription {
  font-size: 1rem;
  color: #555;
}

.noTemes {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.temaCrear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.temaInput {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.temaButton {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px; 
}

.temaButton:hover {
  background-color: #45a049;
}

.temaCrear {
  position: relative;
  margin-top: auto; 
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modalInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}

.modalButton {
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalButtonCancel {
  padding: 10px 15px;
  background: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*FI SECCIÓ CURS*/


/*SECCIÓ CREAR TEST PROFESSOR*/
.headerSubject {
  background-color: #e0e0e0;
  position: fixed; 
  top: 60px; 
  width: 100vw; 
  padding: 10px 0;
  display: flex;
  justify-content: flex-start; 
  gap: 10px;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.backArrow {
  font-size: 24px; 
  cursor: pointer;
  color: black;
  margin-left: 10px;
  transition: transform 0.2s ease; 
}

.backArrow:hover {
  transform: scale(1.2); 
}

.questionsContainerTeacher{
  width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

}




/*FI SECCIÓ TEST PROFESSOR*/