/*SECCIO PREGUNTES*/

.questionsContainer {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .addQuestionButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; /* Espai entre les preguntes i el botó */
  }
  
  .addQuestionButton {
    padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .addQuestionButton:hover {
    background-color: darkgreen;
    color: white;
  }
  
  .questionsList {
    width: 100%;
    max-width: 900px; /* Amplada màxima per a les preguntes */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .questionOrder{
    width: 100%;
    max-width: 900px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    
  }
  
  .questionCard {
    width: 100%;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
    
  }

  .editionMode{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .editionContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
  }
  
  .questionDetails p {
    margin: 5px 0;
  }

 

  .editInput{
    width: 200px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    margin-bottom: 10px;
  }

  
  
  .actionButtonsContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }
  
  .acceptButton, .deleteButton {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .acceptButton {
    background-color: green;
    color: white;
    border: none;
  }
  
  .deleteButton {
    background-color: red;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .acceptButton:hover {
    background-color: darkgreen;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }

  /*FI SECCIO PREGUNTES*/



  /*SECCIO PARTICIPANTS*/



.participantContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  z-index: 0;
  position: relative
}

.participantCard {
  width: 50%;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}


.participantCard p {
  margin: 0; 
  flex: 1; 
}


.filterParticipants{
  display: flex;
  flex-direction: row;
  gap: 10px;

}




.cancelButtonModal {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelButtonModal:hover {
  background-color: darkred;
}



.addParticipants{

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.addParticipantButton {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addParticipantButton:hover {
  background-color: darkgreen;
}

.modalBackdropParticipant {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContentParticipant {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.modalContentParticipant h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modalActions button {
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.modalEliminateParticipant {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContentEliminateParticipant {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}


.modalInformation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalInformationUser {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

/*FI SECCIO PARTICIPANT*/



/*SECCIO QUIZZ*/

.quizzContainerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}

.parametersQuizz{

  .select{
    width: 500px;
  }
}

.titleGenerator {
 
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.quizzContainerBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formRandom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}



.buttonSubmit {
  grid-column: span 3;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.buttonSubmit:hover {
  background-color: darkgreen;
}

.error {
  grid-column: span 3;
  color: red;
  text-align: center;
  font-size: 0.9rem;
}



/*FI SECCIO QUIZZ ALUMNE*/


/*SECCIÓ CURS*/

.elementsCursContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  z-index: 0;
  position: relative
}

.noTemes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elementsCursHeader {


  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.temesList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 1000px;

}

.temaItem {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  border: 2px solid ;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.temaHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temaTitle {
  margin: 0;
  font-size: 1.5rem;
}

.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

hr {
  border: 1px solid black;
  margin-top: 10px;
}

.lineCustom{
  border: 1px solid black;
}

.temaContent {
  margin-top: 10px;
  padding-left: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  position: relative;

 
 
}

.deleteTheme {
  position: absolute;
  bottom: 1px;
  right: 20px;
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  
}

.deleteTheme:hover {
  background-color: red;
  color: white;
}



.temaSubtitle {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.contingut, .tests {
  margin-bottom: 20px;
}

.testList {
  list-style: none;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.testItem {

  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid blue;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  color: rgb(108, 108, 238);
}

.testItem:hover {
  text-decoration: underline;
}

.temaCrear {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temaInput {
  padding: 8px;
  margin-bottom: 10px;
  width: 300px;
}

.temaButton {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.temaButton:hover {
  background-color: darkgreen;
}

.buttonAddTest{
  background: none;
  transform: scale(0.8);
  border: none;
}

/* Estils del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modalInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}

.modalButton {
  padding: 8px 16px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalButtonCancel {
  padding: 8px 16px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalButton:hover {
background-color: darkgreen;
}

.modalButtonCancel:hover {
  background-color: darkred;
}



/*FI SECCIÓ CURS*/


/*SECCIÓ CREAR TEST PROFESSOR AUTOMÀTIC*/
.headerSubject {
  background-color: #e0e0e0;
  position: absolute; 
  top: 60px; 
  width: 100vw; 
  padding: 10px 0;
  display: flex;
  justify-content: flex-start; 
  gap: 10px;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  
}

.backArrow {
  font-size: 24px; 
  cursor: pointer;
  color: black;
  margin-left: 10px;
  transition: transform 0.2s ease; 
}

.backArrow:hover {
  transform: scale(1.2); 
}

.questionsContainerTeacher{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

}




/*FI SECCIÓ TEST PROFESSOR*/


/*SECCIO CUSTOM TEST*/

.customBody{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  z-index: 0;

}

.addButton{
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.addButton:hover{
  background-color: darkgreen;
}


.saveButton{
  background: none;
}
.deleteTestButton{
  background: none;
}

.ArrowsPages{
  background: none;
}

.questionCardCustom{
  width: 100%;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}




.contenidorModal {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;
}


.contenidorModalCustom{

  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;
}

.deleteTestButtonConfirm{
  margin-right: 20px ;
}
.fonsFosc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.contenidorModal h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}


.llistaPreguntes {
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.targetaPregunta {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.targetaPregunta:hover {
  background-color: #f1f1f1;
}


.contingutTargeta {
  flex-grow: 1;
  margin-right: 15px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.contingutTargeta p {
  margin: 5px 0;
  color: #555;
  font-size: 14px;
}

.botoAfegir {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botoAfegir:hover {
  background-color: #45a049;
}


.controlsPaginacio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.botoPaginacio {
  background-color: none;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.botoPaginacio:hover {
  background-color: #ccc;
}

.controlsPaginacio span {
  margin: 0 10px;
  font-size: 16px;
  color: #555;
}


.botoTancar {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  z-index: 1010;
}

.botoTancar:hover {
  color: red;
}


.updateForm{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionOne{

  display: flex;
  gap: 20px;
  align-items: center;
}

.sectionTwo{

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.formUpdate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}