.homecontainer {
    display: flex;
    height: 100%;
    margin: 0;
  }


.logincontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

  .welcome{
    color: green;
    
    font-size: 75px;

  }

  
  .green {
    background-color: green;
    width: 25vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .logos{

        font-size: 75px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
   
  }

  
  .white {
    background-color: white;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   


  }
  
  .buttcontainer {
    display: flex;
    margin-top: 20px;
    gap: 50px;
  }
  
  .homebtn {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: green;
    border: 0;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 1rem;

    font-size: 30px;
  }

  .homebtn:hover{
    background-color: white;
    color: black;
  }

  .loginbtn{

    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: green;
    border: 0;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 1rem;

    font-size: 15px;


  }

  .loginbtn:hover{
    background-color: white;
    color: black;
  }


  .registerbtncontainer{
    display: flex;
    gap: 10px; 
  }
  .registerbtn{
    margin-top: 20px;
    
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: green;
    border: 0;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 1rem;

    font-size: 15px;

  }

  .registerbtn:hover{
    background-color: white;
    color: black;
  }
  


  .content {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .addQuestionTitle {
    margin-bottom: 20px;
    color: green;
  }
  
  .addQuestionForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px;
  }
  
  .questionArea {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  
  .wrongArea {
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .titleQuestion {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .sendButton {
    grid-column: span 3;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sendButton:hover {
    background-color: white;
    color: black;
  }
  
  .textarea {
    grid-column: span 3;
    grid-row: span 2;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
    resize: none;
  }
  
  .addOptionButton {
    background: none;
    outline: none;
    padding: 0;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .selectInput {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .arrowBack {
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    transition: transform 0.2s ease;
  }
  
  .arrowBack:hover {
    transform: scale(1.2);
    color: black;
  }
  
  .extraOptionInput {
    flex: 1;
  }
  
  .extraOptionButton {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
  }
  
  .extraOptionButton:hover {
    color: darkred;
  }
  
  .extraOptionsWrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  .extraOptionGroup {
    margin-right: 20px;
  }
  
  
  .wrongArea {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    width: 100%;
  }
  
  .wrongArea .formGroup {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 40px;
    
  }
  
  
  
  .removeOptionButton {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: red;
  }
  
  .removeOptionButton:hover {
    color: darkred;
  }

  .headerSubject {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #e0e0e0;
    position: fixed;
    top: 60px;
    width: 100vw;
    padding: 10px 20px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 500;
    box-sizing: border-box;
}
.elementHeader{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.informationHeader span{
    margin: 5px;
}

.backArrow {
    font-size: 24px; 
    cursor: pointer;
    color: black;
    margin-left: 10px;
    transition: transform 0.2s ease; 
}

.backArrow:hover {
    transform: scale(1.2); 
}


.buttonSecondHeader{
    cursor: pointer;
    transition: transform 0.2s ease; 
    background: none;
    align-items:center;
    justify-content: center;
    font-size: 15px;
}

.buttonSecondHeader:hover{
    transform: scale(1.2); 
}
.mainMenu {
    position: fixed; 
    top: 110px; 
    width: 100vw; 
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    cursor: pointer;
    padding: 20px;
    color: #333;
    z-index: 1000;
}

.activeTab {
    font-weight: bold;
    color: black;
}

.contentElements{
    display: flex;
    justify-content: center;
    align-items: center;

}





.modalOver {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
z-index: 1000;
}

.modalContent {
background: white;
border-radius: 10px;
padding: 30px;
width: 400px;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
animation: fadeIn 0.3s ease-in-out;

}

.modalButtons{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 20px;
border-radius: 10px;



}


.content {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrowBack {
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    transition: transform 0.2s ease; 
}

.arrowBack:hover {
    transform: scale(1.2); 
    color: black;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}



.titleGenerator {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.quizzContainerBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formRandom {
  display: grid;
  gap: 20px;
  align-items:start;
  justify-items: center;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.formGroup{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items:center;
  justify-content: center;
  
  
}

.formRandom label {
  text-align: center;
  font-weight: bold;
}

.formRandom select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formRandom input{
  padding: none;
  width: 50px;
}

.formRandom button {

  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonResumee {
  grid-column: span 3;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.formRandom button:hover {
  background-color: darkgreen;
}

.error {
  grid-column: span 3;
  color: red;
  text-align: center;
  font-size: 0.9rem;
}

.buttonIA {
  padding: 10px 25px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.buttonIA:hover {
  background-color: darkgreen;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.modalLabels{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.modalContent input {
  width: 70px;
  margin-left: 10px;
}

.modalContent button {
  margin: 5px;
  margin-bottom: 10px;
}

.scrollTopics{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px; 
  overflow-y: auto;  
}

.selectedTopics{
  padding: 10px;
  list-style: none;

}

.selectedTopic{
  margin: 10px;
}

.colorButt{
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.colorButt:hover{
background-color: darkgreen;

}

.colorButtDel{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.colorButtDel:hover{
background-color: darkred;

}

/* Estils para CreteManualQuizz.jsx */


.headerSubject {
    position: absolute; 
    top: 60px; 
    width: 100vw; 
    padding: 10px 0;
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    }
    
    .backArrow {
      font-size: 24px; 
      cursor: pointer;
      color: black;
      margin-left: 10px;
      transition: transform 0.2s ease; 
    }
    
    .backArrow:hover {
      transform: scale(1.2); 
    }
   
    .questionsContainerTeacher{
  
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      z-index: 0;
    }
  
  
    .filters {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
    
  
    .createTestButton {
      padding: 1rem 2rem;
      background-color: green;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 1rem;
      opacity: 0.7;
    }
    
    .createTestButton:disabled {
      opacity: 0.3;
   
    }
    
    .questionsList {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
   
      width: 100vw;
    }
    
    .questionCard {
      width: 50%;
      background-color: #f9f9f9;
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      }
    
    .questionDetails {
      flex: 1;
    }
    
    .questionDetails p {
      margin-bottom: 0.5rem;
    }
    
    .checkboxContainer {
      display: flex;
      align-items: center;
    }
    
    .checkboxContainer input[type="checkbox"] {
      margin-right: 0.5rem;
    }
    
  
    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
    }
    
    .pagination button {
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .pagination button:disabled {
      opacity: 0.3;
    }
  
  
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    
    .modalContent {
      background: white;
      border-radius: 10px;
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
    }
    
    .modalLabels{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    
    
    .modalContent input {
      width: 70px;
      margin-left: 10px;
    }
    
    .modalContent button {
      margin: 5px;
      margin-bottom: 10px;
    }
  
  
    .colorButt{
      background-color: green;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .colorButt:hover{
    background-color: darkgreen;
    
    }
    
    .colorButtDel{
      background-color: red;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .colorButtDel:hover{
    background-color: darkred;
    
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-family: 'Arial', sans-serif;
        width: 100vw;
      
      }
      
      .title {
        text-align: center;
        margin: 20px 0;
        font-size: 2rem;
        color: green;
        
      }
      
      .columnsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        margin-bottom: 20px;
        padding: 20px; 
      }
      
      .pagination{
        background: none;
      }
      
      
      .assignaturaCard {
        background-color: #f0f0f0;
        padding: 30px;
        border-radius: 8px;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s ease;
      }
      
      .assignaturaCard:hover {
        transform: scale(1.05);
      }
      
      .assignaturaCard h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      
      .assignaturaCard p {
        font-size: 1rem;
        margin-bottom: 15px;
      }
      
      .addButton, .deleteButton {
        padding: 10px 20px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .addButton:hover, .deleteButton:hover {
        background-color: darkgreen;
      }
      
      .buttonsContainer {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
      }
      
      .modalOver {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
      }
      
      .modalContent {
        background: white;
        border-radius: 10px;
        padding: 30px;
        width: 400px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        animation: fadeIn 0.3s ease-in-out;
      }
      
      .modalTitle {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
      }
      
      .modalForm {
        display: flex;
        flex-direction: column;
      }
      
      .formGroup {
        margin-bottom: 15px;
      }
      
      .formGroup label {
        display: block;
        font-size: 1rem;
        margin-bottom: 5px;
        color: #555;
      }
      
      .formGroup input {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;
      }
      
      .formGroup input:focus {
        border-color: #007bff;
      }
      
      .buttonGroup {
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }
      
      .addButtonModal {
        padding: 10px 20px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .addButtonModal:hover {
        background-color: darkgreen;
      }
      
      .cancelButtonModal {
        padding: 10px 20px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .cancelButtonModal:hover {
        background-color: darkred;
      }
      
      
      .buttonDeleteModal{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }

      /*SECCIO PREGUNTES*/

.questionsContainer {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .addQuestionButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; /* Espai entre les preguntes i el botó */
  }
  
  .addQuestionButton {
    padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .addQuestionButton:hover {
    background-color: darkgreen;
    color: white;
  }
  
  .questionsList {
    width: 100%;
    max-width: 900px; /* Amplada màxima per a les preguntes */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .questionOrder{
    width: 100%;
    max-width: 900px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    
  }
  
  .questionCard {
    width: 100%;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
    
  }

  .editionMode{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .editionContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
  }
  
  .questionDetails p {
    margin: 5px 0;
  }

 

  .editInput{
    width: 200px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    margin-bottom: 10px;
  }

  
  
  .actionButtonsContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }
  
  .acceptButton, .deleteButton {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .acceptButton {
    background-color: green;
    color: white;
    border: none;
  }
  
  .deleteButton {
    background-color: red;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .acceptButton:hover {
    background-color: darkgreen;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }

  /*FI SECCIO PREGUNTES*/



  /*SECCIO PARTICIPANTS*/



.participantContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  z-index: 0;
  position: relative
}

.participantCard {
  width: 50%;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}


.filterParticipants{
  display: flex;
  flex-direction: row;
  gap: 10px;

}




.cancelButtonModal {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancelButtonModal:hover {
  background-color: darkred;
}



.addParticipants{

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.addParticipantButton {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addParticipantButton:hover {
  background-color: darkgreen;
}

.modalBackdropParticipant {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContentParticipant {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.modalContentParticipant h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modalActions button {
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.modalEliminateParticipant {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContentEliminateParticipant {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}


.modalInformation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalInformationUser {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

/*FI SECCIO PARTICIPANT*/



/*SECCIO QUIZZ*/

.quizzContainerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}

.parametersQuizz{

  .select{
    width: 500px;
  }
}

.titleGenerator {
 
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.quizzContainerBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formRandom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}



.buttonSubmit {
  grid-column: span 3;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.buttonSubmit:hover {
  background-color: darkgreen;
}

.error {
  grid-column: span 3;
  color: red;
  text-align: center;
  font-size: 0.9rem;
}



/*FI SECCIO QUIZZ ALUMNE*/


/*SECCIÓ CURS*/

.elementsCursContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  z-index: 0;
  position: relative
}

.noTemes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elementsCursHeader {


  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.temesList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 1000px;

}

.temaItem {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  border: 2px solid ;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.temaHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temaTitle {
  margin: 0;
  font-size: 1.5rem;
}

.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

hr {
  border: 1px solid black;
  margin-top: 10px;
}

.lineCustom{
  border: 1px solid black;
}

.temaContent {
  margin-top: 10px;
  padding-left: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  position: relative;

 
 
}

.deleteTheme {
  position: absolute;
  bottom: 1px;
  right: 20px;
  background-color: white;
  color: red;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  
}

.deleteTheme:hover {
  background-color: red;
  color: white;
}



.temaSubtitle {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.contingut, .tests {
  margin-bottom: 20px;
}

.testList {
  list-style: none;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.testItem {

  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  color: green;
}

.testItem:hover {
  text-decoration: underline;
}

.temaCrear {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temaInput {
  padding: 8px;
  margin-bottom: 10px;
  width: 300px;
}

.temaButton {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.temaButton:hover {
  background-color: darkgreen;
}

.buttonAddTest{
  background: none;
  transform: scale(0.8);
  border: none;
}

/* Estils del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modalInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
}

.modalButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.modalButtonCancel {
  background-color: #ccc;
}

.modalButton:hover, .modalButtonCancel:hover {
  opacity: 0.8;
}




/*FI SECCIÓ CURS*/


/*SECCIÓ CREAR TEST PROFESSOR AUTOMÀTIC*/
.headerSubject {
  background-color: #e0e0e0;
  position: absolute; 
  top: 60px; 
  width: 100vw; 
  padding: 10px 0;
  display: flex;
  justify-content: flex-start; 
  gap: 10px;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  
}

.backArrow {
  font-size: 24px; 
  cursor: pointer;
  color: black;
  margin-left: 10px;
  transition: transform 0.2s ease; 
}

.backArrow:hover {
  transform: scale(1.2); 
}

.questionsContainerTeacher{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

}




/*FI SECCIÓ TEST PROFESSOR*/


/*SECCIO CUSTOM TEST*/

.customBody{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  z-index: 0;

}

.addButton{
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.addButton:hover{
  background-color: darkgreen;
}


.saveButton{
  background: none;
}
.deleteTestButton{
  background: none;
}

.ArrowsPages{
  background: none;
}

.questionCardCustom{
  width: 100%;
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}




.contenidorModal {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;
}


.contenidorModalCustom{

  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;
}

.deleteTestButtonConfirm{
  margin-right: 20px ;
}
.fonsFosc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.contenidorModal h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}


.llistaPreguntes {
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.targetaPregunta {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.targetaPregunta:hover {
  background-color: #f1f1f1;
}


.contingutTargeta {
  flex-grow: 1;
  margin-right: 15px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.contingutTargeta p {
  margin: 5px 0;
  color: #555;
  font-size: 14px;
}

.botoAfegir {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botoAfegir:hover {
  background-color: #45a049;
}


.controlsPaginacio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.botoPaginacio {
  background-color: none;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.botoPaginacio:hover {
  background-color: #ccc;
}

.controlsPaginacio span {
  margin: 0 10px;
  font-size: 16px;
  color: #555;
}


.botoTancar {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  z-index: 1010;
}

.botoTancar:hover {
  color: red;
}


.updateForm{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionOne{

  display: flex;
  gap: 20px;
  align-items: center;
}

.sectionTwo{

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.formUpdate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headercontainer {
    background-color: green; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
  }
  
  .leftcontent {
    font-size: 24px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .rightcontent {
    position: relative;
    
    
  }
  
  .dropdownmenu {
    position: absolute;
    right: 0; 
    background-color: green;
    border-radius: 5px;
    z-index: 1000;
  }

  .maindisplay {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
  width: 100vw;
  }
  
  .formProfile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid green;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(95, 238, 0, 0.1);
    width: 400px;
  }
  
  .inputProfile {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
  }
  
  .saveButton {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .saveButton:hover{
    background-color: darkgreen;
    color: white;
  }

  .dropButton{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }


  .dropButton:hover{

    background-color: darkred;
    color: white;
  }

  .modalOver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
   
  }
  
  .modalButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }


  .containerQuizz {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(grey, white);
  }
  
  .containerElements {
    width: 80%;
    max-width: 600px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .containerElements hr {
    height: 2px;
    border: none;
    background-color: black;
  }
  
  .containerElements ul {
    width: 100%;
    padding: 0;
  }
  
  .containerElements ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .containerElements ul li.selected {
    background-color: black;
    color: white;
    border-color: black;
  }
  
  .containerElements ul li:hover {
    background-color: #e0e0e0;
  }
  
  .containerElements ul li input {
    display: none;
  }
  
  .containerElements button {
    margin: 10px;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .containerElements button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .containerElements button:not(:disabled) {
    background-color: black;   
    color: white;
  }
  
  .containerElements button:not(:disabled):hover {
    background-color: green;
  }
  
  .pregunta {
    font-size: 18px; 
    line-height: 1.5; 
    padding: 10px; 
    min-height: 50px; 
    word-wrap: break-word;
    width: 100%; 
    white-space: normal; 
    border-radius: 8px; 
    margin-bottom: 20px; 
  }
  
  .resultsBox {
    width: 90%;
    max-width: 500px;
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
  }
  
  .resultBox h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .resultBox p {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .resultBox .nota {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4CAF50;
    margin-top: 15px;
  }
  
  .endButtons {
    margin: 10px;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .endButtons:hover {
    background-color: green;
    color: white;
  }
  
  .resultButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
   
  }
  
  .resultBox .customButton {
    padding: 10px 25px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  .resultBox .customButton:hover {
    background-color: #45a049;
  }
  
  .resultBox .customButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .correctAnswer {
    background-color: rgb(90, 192, 90);
    color: white;
    font-weight: bold;
  }
  
  .incorrectAnswer {
    background-color: rgb(228, 67, 67);
    color: white;
    font-weight: bold;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 80%;
    
  }
  
  .modalList {
    list-style: none;
    padding: 0;
  }
  
  .modalListItem {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    overflow: hidden; 
      text-overflow: ellipsis; 
  
  }
  
  .modalListItem p {
    margin: 5px 0;
  }
  
  .closeModalButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .closeModalButton:hover {
    background-color: #b02a37;
  }
  
  